@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('./styles/navbar.css')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppisns", sans-serif;
  outline: none;
  color: #fff;
}

:root {
  --prime: #00ff34;
}

body {
  background-color: #131b2b;
}
