.workout .content {
  flex-wrap: wrap;
  max-width: 80%;
}

.workout .content .frame {
  position: relative;
  width: 350px;
  padding: 20px;
  margin: 10px;
  background: #222;
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
  border-radius: 10px;

}

.workout .content .frame .box {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.workout .content .frame .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
  transition: 0.2s ease-in ;
}

.workout .content .frame .box:hover img {
  filter: brightness(100%);
  transform: scale(1.08) ;
}

.workout .content .frame .title {
  color: var(--prime);
  padding: 5px 0;
}

.workout .content .frame p {
  font-size: 0.8rem;
}